version: '3.8'

services:
  app:
    build: .
    ports:
      - "8000:8000"
    environment:
      - GEMINI_API_KEY=${GEMINI_API_KEY}
      - API_TOKEN=glroQnd10M70RmYiD9uWSmRm
    volumes:
      - .:/app
    restart: always
